body {
  background: linear-gradient(to right, #BFDEE2, #4698A4);
}

.App {
  text-align: center;
}

.header {
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-name {
  font-family: 'Pacifico', cursive;
  color: black;
  text-decoration: none;
  font-size: 2em;
}

.search-bar {
  width: 40vw;
  font-size: 1em;
  font-weight: 700;
  padding: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

::placeholder {
  color: black;
}

.save-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.save-link-active {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
}

.saved-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
}

.saved-container hr {
  border: 2px solid black;
  margin-left: 35%;
  margin-right: 35%;
}

.saved-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  margin: 2%;
}

.saved-container h3 {
  color: black;
  font-weight: 200;
}

.saved-word {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2em;
  margin-right: .25em;
}

.type-word {
  font-weight: 600;
}
